<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://apiazurefunctionapp-rc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/95658d95-8bd4-4563-acd7-1cb6274225c3/resourceGroups/rg-ac/providers/Microsoft.Web/sites/ApiAzureFunctionApp-RC</ResourceId>
    <UserName>$ApiAzureFunctionApp-RC</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://apiazurefunctionapp-rc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>